<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bol.xavier.gestionscore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gamecontroller_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.ConnectionActivity"
            android:label="@string/titre_ConnectionActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.HomepageActivity"
            android:label="@string/titre_homepageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.ConnectionActivity" />
        </activity>
        <activity
            android:name=".screen.AjoutScoreActivity"
            android:label="@string/titre_AjoutScoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.HomepageActivity" />
        </activity>
        <activity
            android:name=".screen.TopGameActivity"
            android:label="@string/titre_TopGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.HomepageActivity" />
        </activity>
        <activity
            android:name=".screen.ListGameActivity"
            android:label="@string/titre_ListGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.HomepageActivity" />
        </activity>
        <activity
            android:name=".screen.ListUserActivity"
            android:label="@string/titre_ListUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.HomepageActivity" />
        </activity>
        <activity android:name=".screen.WizardActivity" />
        <activity android:name=".screen.AfficherTop10Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.HomepageActivity" />
        </activity>
    </application>

</manifest>